---
import { getTranslations, useTranslator } from "@i18n";

export interface Props {
    locale?: string;
    class?: string;
}

const { locale = "en", class: className } = Astro.props;
const __ = await useTranslator(locale);
const themeDict = (await getTranslations(locale, "theme")) as Record<
    string,
    string
>;

const label = themeDict["label"] || __("Theme");

const themeKeys = [
    "light",
    "dark",
    "cupcake",
    "bumblebee",
    "emerald",
    "corporate",
    "synthwave",
    "retro",
    "cyberpunk",
    "valentine",
    "halloween",
    "garden",
    "forest",
    "aqua",
    "lofi",
    "pastel",
    "fantasy",
    "wireframe",
    "black",
    "luxury",
    "dracula",
    "cmyk",
    "autumn",
    "business",
    "acid",
    "lemonade",
    "night",
    "coffee",
    "winter",
    "dim",
    "nord",
    "sunset",
    "caramellatte",
    "abyss",
    "silk",
];

const themesList = themeKeys.map((key) => ({
    name: key,
    label: themeDict[key] || key,
}));
---

<div
    title={__("Change Theme")}
    class:list={[
        "dropdown dropdown-end sm:dropdown-bottom dropdown-top block",
        className,
    ]}
>
    <div
        tabindex="0"
        role="button"
        class="btn group btn-sm gap-1.5 px-1.5 btn-ghost w-full justify-between sm:w-auto sm:justify-center"
        aria-label={__("Change Theme")}
    >
        <div class="flex items-center gap-3">
            <div
                class="bg-base-100 group-hover:border-base-content/20 border-base-content/10 grid shrink-0 grid-cols-2 gap-0.5 rounded-box border p-1 transition-colors"
            >
                <div class="bg-base-content size-1.5 rounded-full"></div>
                <div class="bg-primary size-1.5 rounded-full"></div>
                <div class="bg-secondary size-1.5 rounded-full"></div>
                <div class="bg-accent size-1.5 rounded-full"></div>
            </div>
            <span class="font-medium text-sm sm:hidden">{label}</span>
        </div>
        <svg
            width="12px"
            height="12px"
            class="mt-px hidden size-2 fill-current opacity-60 sm:inline-block"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 2048 2048"
        >
            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
            ></path>
        </svg>
    </div>
    <ul
        tabindex="0"
        class="dropdown-content bg-base-200 text-base-content rounded-box mb-2 sm:top-px sm:mt-16 max-h-[50vh] sm:max-h-[calc(100vh-12rem)] w-[calc(100vw-8rem)] sm:w-56 overflow-y-auto border-(length:--border) border-white/5 shadow-2xl outline-(length:--border) outline-black/5 p-2 z-50"
    >
        <li class="menu-title px-2 py-1 text-xs font-medium opacity-70">
            {label}
        </li>
        {
            themesList.map((theme) => (
                <li>
                    <label class="btn btn-sm btn-block btn-ghost justify-start font-normal has-checked:bg-base-content/10">
                        <input
                            type="radio"
                            name="theme-dropdown"
                            class="theme-controller peer sr-only"
                            value={theme.name}
                        />
                        <div
                            data-theme={theme.name}
                            class="bg-base-100 grid shrink-0 grid-cols-2 gap-0.5 rounded-md p-0.5 shadow-sm"
                        >
                            <div class="bg-base-content size-1 rounded-full" />
                            <div class="bg-primary size-1 rounded-full" />
                            <div class="bg-secondary size-1 rounded-full" />
                            <div class="bg-accent size-1 rounded-full" />
                        </div>
                        <span class="grow text-start">{theme.label}</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            class="invisible h-3 w-3 shrink-0 opacity-70 peer-checked:visible"
                        >
                            <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" />
                        </svg>
                    </label>
                </li>
            ))
        }
    </ul>
</div>
